.ukrainianPvpText {
  background: linear-gradient(
    180deg,
    #3b82f6 0%,
    #3b82f6 50%,
    #facc15 50%,
    #facc15 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
}


